.combobox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.combobox-input {
    width: 100%;
    background-color: #fff;
    padding-right: 80px;
    border-radius: 2px 0 0px 2px;
    border-right: none;
}

.combobox-input:focus~.combobox-icon-container {
    border-color: #2ca01c;
}

.combobox-icon-container {
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin: 0;
    border: 1px solid #bababa;
    box-sizing: border-box;
    border-radius: 0px 2px 2px 0px;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-2px, 0);
}

.combobox-icon {
    width: 8px;
    height: 5px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -564px -365px;
    transform: translate(1.5px, 1.5px);
}

.combobox-icon-container:hover {
    background-color: #bbbbbb;
}

.combobox-icon-container:active {
    background-color: #454545;
}

.invalid~.combobox-icon-container {
    border-color: #FF4747;
}
.combobox-input.invalid:focus~.combobox-icon-container {
    border-color: #FF4747;
}