.dropdown {
    height: 40px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;

    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-container:focus{
    outline: none;
}

@keyframes outline-animate {
    50% {
        border-color: #16af7c;
    }
}

.dropdown:active {
    border-color: #019160;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
    margin: 0 12px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

.dropdown-data {
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #BABEC5;
    position: absolute;
    width: 100%;
}

.dropdown-data .dropdown-item {    
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}

.dropdown-data .dropdown-item:hover {
    background-color: #ebedf0;
    color: #2ca01c;
}

.dropdown-data .dropdown-item .item-icon {
    width: 16px;
    height: 16px;
    opacity: 0;    
}

.dropdown-data .dropdown-item .item-text {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.dropdown-data .dropdown-item.item-selected,
.dropdown-item.item-selected>.item-icon {
    background-color: #2ca01c;
    opacity: 1;
    color: #fff;
}

/* Dropdown của combobox unit */

.dropdown-item.header-item {
    background-color: #F4F5F8;
    font-weight: bold;
    margin-bottom: 2px;
}
.dropdown-item.header-item:hover{
    background-color: #F4F5F8;
    color: #111111;
}
.dropdown-data .item-text.unitCode{
    min-width: 100px;
    box-sizing: border-box;
}