/* Table content */

.content-table {
    height: 100px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    top: 0;
    flex-shrink: 0;
}

table,
.table-customer {
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    height: 34px;
    text-align: left;
    padding-left: 10px;
    color: #111;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background-color: rgb(236, 238, 241);
}

tbody tr td {
    height: 48px;
    cursor: pointer;
}

th,
td {
    box-sizing: border-box;
    border-left: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}


/* Sử lí style cho các ô sticky khi select và hover tr */
tbody tr.selected,
tbody tr.selected td:nth-child(2),
tbody tr.selected td:nth-child(3),
tbody tr.selected td:nth-child(4),
tbody tr.selected td:nth-child(19) {
    background-color: #f8f8f8;
}

tbody tr:hover,
tbody tr:hover td:nth-child(2),
tbody tr:hover td:nth-child(3),
tbody tr:hover td:nth-child(4),
tbody tr:hover td:nth-child(19) {
    background-color: #f3f8f8;
}

tbody td {
    padding-left: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.loading tr td{
    background-color: #fff !important;
}

table.loading td span {
    display: inline-block !important;
    height: 20px;
    width: calc(100% - 10px);
    background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
    background-size: 500px 100px;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
    border-radius: 6px;
    color: transparent !important;
}
table.loading td span *{
    visibility: hidden;
}

table.loading {
    pointer-events: none;
}

@keyframes moving-gradient {
    0% {
        background-position: -250px 0;
    }

    100% {
        background-position: 250px 0;
    }
}

table tbody {
    margin-top: 0;
    padding: 0;
    height: calc(100vh - 290px);
    position: absolute;
}

table thead {
    display: table;
    position: sticky;
    table-layout: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

table tbody tr {
    width: 100%;
    table-layout: fixed;
    display: table;
}

table tbody td:nth-child(1),
table th:nth-child(1) {
    width: 20px;
    background-color: #fff !important;
    position: sticky;
    left: 0;
    border-color: #fff;
    z-index: 10;
}

table tbody td:last-child,
table th:last-child {
    width: 20px;
    background-color: #fff;
    position: sticky;
    border-right: 1px solid #fff;
    border-color: #fff;
    right: -1px;
    z-index: 10;
}

/* Delete checkbox  */
table tbody td:nth-child(2),
table th:nth-child(2) {
    width: 40px;
    position: sticky;
    left: 20px;
    background-color: #fff;
    border-left: none;
    padding-left: 10px;
    z-index: 10;
}

/* Employee code */
table tbody td:nth-child(3),
table th:nth-child(3) {
    width: 150px;
    z-index: 10;
}

/* Full name */
table tbody td:nth-child(4),
table th:nth-child(4) {
    width: 200px;
    position: sticky;
    left: 60px;
    background-color: #fff;
    border-right: 1px dotted #bababa;
    z-index: 10;
}

table th:nth-child(2),
table th:nth-child(3),
table th:nth-child(4){
    background-color: rgb(236, 238, 241);
}

/* Gender */
table tbody td:nth-child(5),
table th:nth-child(5) {
    width: 150px;
    border-left: none;
}

/* birthday */
table thead th:nth-child(6),
table tbody td:nth-child(6) {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
}

/* Phone number */
table tbody td:nth-child(7),
table th:nth-child(7) {
    width: 150px;
}

/* Email */
table tbody td:nth-child(8),
table th:nth-child(8) {
    width: 200px;
}

/* Position */
table tbody td:nth-child(9),
table th:nth-child(9) {
    width: 150px;
}

/* Department */
table tbody td:nth-child(10),
table th:nth-child(10) {
    width: 150px;
}

table tbody td:nth-child(11),
table th:nth-child(11) {
    width: 150px;
}

table tbody td:nth-child(12),
table th:nth-child(12) {
    width: 150px;
}

table tbody td:nth-child(13),
table th:nth-child(13) {
    width: 250px;
}

table tbody td:nth-child(14),
table th:nth-child(14) {
    width: 150px;
    text-align: center;
}

table tbody td:nth-child(15),
table th:nth-child(15) {
    width: 150px;
    text-align: center;
}

table tbody td:nth-child(16),
table th:nth-child(16) {
    width: 150px;
}

table tbody td:nth-child(17),
table th:nth-child(17) {
    width: 150px;
}

table tbody td:nth-child(18),
table th:nth-child(18) {
    width: 200px;
}

table tbody td:nth-child(19),
table th:nth-child(19) {
    width: 120px;
    position: sticky;
    right: 19px;
    text-align: center;
    padding-left: 0;
    background-color: #fff;
    z-index: 11;
}

table th:nth-child(19) {
    background-color: #ECEEF1;
}


.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-btn {
    color: #0075C0;
    font-weight: 600;
    width: fit-content;
    display: inline-block;
    border: 1px solid transparent;
    margin-left: 25px;
}

.update-btn:hover,
.more-action-btn:hover {
    border: 1px solid #0075C0;
}

.more-action-btn {
    height: 16px;
    width: 25px;
    display: inline-block;
    border: 1px solid transparent;
    margin-left: 6px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -892px -360px;
}

#drop-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    visibility: hidden;
    z-index: 20;
}

#drop-options .dropdown-item {
    height: 30px;
    line-height: 30px;
}

#drop-options .item-text {
    white-space: nowrap;
}

table .checkbox-container.disable{
    display: table-cell;
}

table thead {
    z-index: 20;
}