.textbox-default {
    height: 32px;
    border: 1px solid #bababa;
    padding: 6px 10px;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.textbox-default:focus {
    border-color: #2ca01c;
}

.textbox-default.invalid {
    border-color: #FF4747;
}

.date-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 10px;
}
.date-edit{
    font-size: 13px;
    font-family: MISAGoogleSans;
    letter-spacing: 1px;
    padding-left: 0 !important;
    border: 0px;
}

input[type=date]{
    background-color: transparent;
    outline: none;
    border-color: transparent;
    padding: 0;
    height: 26px;
    width: 36px;
    border-radius: 0;
}
input[type=date]:hover{
    background-color: rgba(0, 0, 0, 0.097);
}

input[type=date]:focus{
    background-color: rgba(0, 0, 0, 0.097);
}

input[type=date]::-webkit-datetime-edit {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
    display: none;
}

.textbox-default > input{
    border-color: transparent;
    outline: none;
}
.input-focus{
    border-color: #2ca01c;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    transform: translate(-18px, 0px) scale(2.1);
}

input[type=date]::before {
    content: '';
    display: block;
    width: 24px;
    height: 16px;
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -121px -312px;
}

::-webkit-input-placeholder {
    font-style: italic;
 }

input{
    color: #000000a3;
}