/* The icontainer */
.icontainer {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
}

/* Hide the browser's default radio button */
.icontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #bababa;
}

/* On mouse-over, add a grey background color */
.icontainer:hover input~.radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.icontainer input:checked~.radio-checkmark {
    background-color: #fff;
    border-color: rgb(44,160,28);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.icontainer input:checked~.radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.icontainer .radio-checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(44,160,28);
}