<div class="container" id="container">
    <div class="form-container" id="form-container">
        <div class="form-header" id="form-container-header">
            <div class="title-header">
                <div class="form-title">Thông tin nhân viên</div>
                <div class="options">
                    <div class="option">
                        <span class="checkbox-container">
                            <input type="checkbox" name="delete" v-model="isSelectAll" />
                            <span class="checkmark"><i class="fas fa-check check"></i></span>
                        </span>
                        <span class="label">Là khách hàng</span>
                    </div>
                    <div class="option">
                        <span class="checkbox-container">
                            <input type="checkbox" name="delete" v-model="isSelectAll" />
                            <span class="checkmark"><i class="fas fa-check check"></i></span>
                        </span>
                        <span class="label">Là nhà cung cấp</span>
                    </div>
                </div>
            </div>
            <div class="header-btn">
                <div class="help-btn form-header-btn" title="Giúp"></div>
                <div class="close-btn form-header-btn" title="Đóng"></div>
            </div>
        </div>
        <div class="form-body">
            <div class="form-section form-section-1">
                <!-- Column 1 -->
                <div class="section-column section-column-1">
                    <div class="input-row">
                        <div class="input-field" id="employee-code">
                            <div class="input-label">
                                Mã <span v-if="required"></span><span class="required">*</span></span>
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="fullname">
                            <div class="input-label">
                                Tên <span v-if="required"><span class="required">*</span></span>
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="unit">
                            <div class="input-label">
                                Đơn vị <span v-if="required"></span><span class="required">*</span></span>
                            </div>
                            <!--  -->
                            <div class="combobox-container">
                                <div class="combobox" ref="combobox">
                                    <input spellcheck="false" type="text" class="combobox-input textbox-default"
                                        ref="comboboxInput" v-model="value" />
                                    <div class="x-icon hide">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="combobox-icon-container">
                                        <div class="combobox-icon"></div>
                                    </div>
                                </div>
                                <div class="dropdown-data hide" ref="dropList">
                                    <div class="dropdown-item">
                                        <i class="fas fa-check item-icon"></i>
                                        <div class="item-text">ok</div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="position">
                            <div class="input-label">
                                Chức danh
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                </div>
                <!-- Column 2 -->
                <div class="section-column section-column-2">
                    <div class="input-row">
                        <div class="input-field" id="birthday">
                            <div class="input-label">
                                Ngày sinh
                            </div>
                            <div class="date-input textbox-default input-form">
                                <input type="text" tabindex="1" placeholder="DD/MM/YYYY" class="date-edit" ref="dateView" />
                                <input type="date" />
                            </div>
                        </div>
                        <div class="input-field" id="gender">
                            <div class="input-label">
                                Giới tính
                            </div>

                            <div class="input">
                                <label class="icontainer">Nam
                                    <input type="radio" value="1" name="gender" checked>
                                    <span  tabindex="2" class="radio-checkmark"></span>
                                </label>
                                <label class="icontainer">Nữ
                                    <input type="radio" value="0" name="gender">
                                    <span class="radio-checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="identity-number">
                            <div class="input-label">
                                Số CMND
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="identity-date">
                            <div class="input-label">
                                Ngày cấp
                            </div>
                            <div class="date-input textbox-default input-form">
                                <input type="text" tabindex="1" placeholder="DD/MM/YYYY" class="date-edit" ref="dateView" />
                                <input type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="identity-place">
                            <div class="input-label">
                                Nơi cấp
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section form-section-2">
                <div class="">
                    <div class="input-row">
                        <div class="input-field" id="address">
                            <div class="input-label">
                                Địa chỉ
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="mobile-number">
                            <div class="input-label">
                                ĐT di động
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="phone-number">
                            <div class="input-label">
                                ĐT cố định
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="email">
                            <div class="input-label">
                                Email
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-field" id="bank-account">
                            <div class="input-label">
                                Tài khoản ngân hàng
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="bank-name">
                            <div class="input-label">
                                Tên ngân hàng
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                        <div class="input-field" id="bank-branch">
                            <div class="input-label">
                                Chi nhánh
                            </div>
                            <input class="textbox-default input-form" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-footer">
            <div class="button form-btn cancel-btn">Hủy</div>
            <div class="action-btns">
                <div class="button form-btn save-btn">Cất</div>
                <div class="button form-btn save-add-btn">Cất và Thêm</div>
            </div>
        </div>
    </div>
</div>