<div
    :class="['container', { open: isOpen, close: !isOpen }]"
    id="container"
    @click="closeForm"
  >
    <div
      :class="['form-container', { open: isOpen, close: !isOpen }]"
      id="form-container"
      @click.stop=""
    >
      <div class="form-header" id="form-container-header">
        <div class="header">THÔNG TIN NHÂN VIÊN</div>
        <div id="close-button" @click="closeForm"></div>
      </div>
      <div class="form-body">
        <div class="body-avatar body-column">
          <div class="avatar"></div>
          <div class="note">
            (Vui lòng chọn ảnh có định dạng <br />.jpg, .jpeg, .png, .gif)
          </div>
        </div>
        <div class="body-form body-column">
          <div class="header-row">
            <div class="header-2">
              A. THÔNG TIN CHUNG
              <div class="header-line"></div>
            </div>
          </div>
          <div class="input-row">
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="employee-code"
              :tabindex="1"
              ref="employeeCode"
              v-model="detail.EmployeeCode"
              label="Mã nhân viên"
              :required="true"
              :validates="[required]"
              :rerenderFlag="isRerender"
              @valid="validateForm"
            />
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="fullname"
              :tabindex="2"
              v-model="detail.FullName"
              label="Họ và tên"
              :required="true"
              ref="fullName"
              :validates="[required]"
              :rerenderFlag="isRerender"
              @valid="validateForm"
            />
          </div>
          <div class="input-row">
            <BaseDateInput
              :type="'input-form'"
              inputKey="date-of-birth"
              ref="dateOfBirth"
              :tabindex="3"
              v-model="detail.DateOfBirth"
              :label="'Ngày sinh'"
              :validates="[date]"
              :rerenderFlag="isRerender"
              @valid="validateForm"
              @dateChange="dateChange"
            />
            <div class="input-field">
              <div class="input-label">Giới tính</div>
              <BaseDropdown
                :direction="'down'"
                :data="[
                  { GenderName: 'Nam' },
                  { GenderName: 'Nữ' },
                  { GenderName: 'Không xác định' },
                ]"
                :type="'form-dropdown'"
                :displayId="'gender'"
                :value="detail.GenderName"
                :typeData="'GenderName'"
                :tabindex="4"
                v-if="isDataLoaded"
                @itemChange="dropDataChange"
              ></BaseDropdown>
            </div>
          </div>
          <div class="input-row">
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="identity-number"
              :tabindex="5"
              v-model="detail.IdentityNumber"
              :label="'Số CMTND/ Căn cước'"
              :validates="[required]"
              :required="true"
              :rerenderFlag="isRerender"
              ref="identityNumber"
              @valid="validateForm"
            />
            <BaseDateInput
              type="input-form"
              inputKey="identity-date"
              ref="identityDate"
              :tabindex="6"
              v-model="detail.IdentityDate"
              :label="'Ngày cấp'"
              :validates="[date]"
              :rerenderFlag="isRerender"
              @dateChange="dateChange"
              @valid="validateForm"
            />
          </div>
          <div class="input-row">
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              id="identity-place"
              :tabindex="7"
              v-model="detail.IdentityPlace"
              :label="'Nơi cấp'"
              :rerenderFlag="isRerender"
            />
          </div>
          <div class="input-row">
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="email"
              :tabindex="8"
              v-model="detail.Email"
              :label="'Email'"
              :validates="[required, email]"
              ref="email"
              :required="true"
              :rerenderFlag="isRerender"
              @valid="validateForm"
            />
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="phone-number"
              :tabindex="9"
              v-model="detail.PhoneNumber"
              :label="'Số điện thoại'"
              :validates="[required, phone]"
              ref="phoneNumber"
              :required="true"
              :rerenderFlag="isRerender"
              @valid="validateForm"
            />
          </div>
          <div class="header-row">
            <div class="header-2">
              B. THÔNG TIN CÔNG VIỆC
              <div class="header-line"></div>
            </div>
          </div>
          <div class="input-row">
            <div class="input-field">
              <div class="input-label">Vị trí</div>
              <BaseDropdown
                :direction="'down'"
                :type="'form-dropdown'"
                :typeData="'PositionName'"
                :displayId="'position-name'"
                :tabindex="10"
                :value="detail.PositionName"
                id="form-positions"
                :api="`${$config.BASE_API}/Positions`"
                v-if="isDataLoaded"
                @itemChange="dropDataChange"
                @showToast="emitShowToast"
              ></BaseDropdown>
            </div>
            <div class="input-field">
              <div class="input-label">Phòng ban</div>
              <BaseDropdown
                :direction="'down'"
                :type="'form-dropdown'"
                :typeData="'DepartmentName'"
                :displayId="'department-name'"
                :tabindex="11"
                :value="detail.DepartmentName"
                id="form-departments"
                :api="`${$config.BASE_API}/Departments`"
                v-if="isDataLoaded"
                @itemChange="dropDataChange"
              ></BaseDropdown>
            </div>
          </div>
          <div class="input-row">
            <BaseTextInput
              :valueType="'text'"
              type="input-form"
              inputKey="tax-code"
              :tabindex="12"
              v-model="detail.PersonalTaxCode"
              :rerenderFlag="isRerender"
              :label="'Mã số thuế cá nhân'"
            />
            <BaseTextInput
              :valueType="'tel'"
              :type="'input-form input-salary'"
              inputKey="salary"
              :tabindex="13"
              v-model="detail.Salary"
              :label="'Mức lương cơ bản'"
              :rerenderFlag="isRerender"
              @input="formatSalaryOnInput"
              ref="salary"
            />
            <div class="money-unit">(VNĐ)</div>
          </div>
          <div class="input-row">
            <BaseDateInput
              type="input-form"
              inputKey="join-date"
              ref="joinDate"
              :tabindex="14"
              v-model="detail.JoinDate"
              :label="'Ngày gia nhập công ty'"
              :validates="[date]"
              :rerenderFlag="isRerender"
              @dateChange="dateChange"
              @valid="validateForm"
            />
            <div class="input-field">
              <div class="input-label">Tình trạng công việc</div>
              <BaseDropdown
                :direction="'down'"
                :data="[
                  { WorkStatus: 'Đang làm việc' },
                  { WorkStatus: 'Đang thử việc' },
                  { WorkStatus: 'Sắp nghỉ việc' },
                ]"
                :type="'form-dropdown'"
                :typeData="'WorkStatus'"
                :displayId="'work-status'"
                :value="String(detail.WorkStatus)"
                :tabindex="15"
                v-if="isDataLoaded"
                @itemChange="dropDataChange"
              ></BaseDropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="form-footer">
        <BaseButtonIcon
          :value="'Hủy'"
          :type="'button-cancel'"
          :onclick="closeForm"
          tabindex="16"
        ></BaseButtonIcon>
        <BaseButtonIcon
          :value="'Lưu'"
          :type="'button-save'"
          :icon="'icon-save'"
          :onclick="btnSaveClick"
          :disable="isDisableSaveButton"
          tabindex="17"
        ></BaseButtonIcon>
      </div>
    </div>
  </div>