.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 12;
    overflow-y: auto;
}

.container.close {
    transition: visibility 1s;
    visibility: visible;
}

.container.close {
    transition: visibility 1s;
    visibility: hidden;
}

.form-container {
    width: 900px;
    min-height: 626px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 13;
    display: flex;
    flex-direction: column;
}

.form-container.open {
    animation: openform 1s forwards;
}

.form-container.close {
    animation: closeform 1s forwards;
}

@keyframes openform {
    0% {
        transform: translate(-50%, 0) scale(0);
    }

    50% {
        transform: translate(-50%, 0) scale(1.1);
    }

    70% {
        transform: translate(-50%, 0) scale(0.95);
    }

    95% {
        transform: translate(-50%, 0) scale(1.05);
    }

    100% {
        transform: translate(-50%, 0) scale(1);
    }
}

@keyframes closeform {
    100% {
        transform: translate(-50%, 0) scale(0);
    }

    50% {
        transform: translate(-50%, 0) scale(1.2);
    }

    30% {
        transform: translate(-50%, 0) scale(0.95);
    }

    5% {
        transform: translate(-50%, 0) scale(1.1);
    }

    0% {
        transform: translate(-50%, 0) scale(1);
    }
}

/* --------------------------------------------------- Form header */

.form-header {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.form-header div {
    display: inline-block;
}

.form-header>.title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 12px;
    height: 72px;
}

.title-header .form-title{
    font-family: MISAGoogleSans-Bold;
    font-size: 24px;
}

.options{
    display: flex;
    align-items: center;
    transform: translate(0, 3px);
    margin-left: 16px;
}

.options .option .label{
    line-height: 40px;
    margin-left: 5px;
    margin-right: 22px;
}

.header-btn{
    height: 72px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    padding: 14px 12px
}

.form-header-btn{
    width: 24px;
    height: 100%;
    margin-left: 3px;
}

.help-btn{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -88px -145px;
}

.close-btn{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -147px -147px;
}

/* ------------------------------------------------- FOOTER */
.form-footer{
    width: 836px;
    height: 90px;
    margin-left: 32px;
    border-top: 1px solid #dfdfdf;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.form-footer .action-btns{
    display: flex;
    align-items: center;
    position: absolute;
    right: 32px;
}

.form-btn{
    border: 1px solid #8f8f8f;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
}

.form-btn:hover {
    filter: brightness(0.8);
}

.form-btn:active {
    filter: brightness(0.6);
}

.save-add-btn{
    margin-left: 10px;
    border-color: transparent;
    color: #fff;
    background-color: #2c9f1c;
}

/* ---------------------------------------------------- BODY */

.form-body{
    height: 458px;
    box-sizing: border-box;    
}

.form-section{
    width: 816px;
    margin-left: 32px;
    /* border: 1px solid teal; */
    display: flex;
    /* box-sizing: border-box; */
}
.form-section-1{
    height: 208px;
}
.form-section-2{
    height: 208px;
    margin-top: 20px;
}

.section-column{
    width: 418px !important;
    height: 196px;
    /* border-right: 1px dashed red; */
}
.section-column-1{
    padding-right: 25px;
    box-sizing: border-box;
}
.section-column-2{
    box-sizing: border-box;
}

.input-field {
    display: inline-block;
}

.input-label {
    font-weight: bold;
}

.required {
    color: red;
}

.input-form {
    margin-top: 6px;
    margin-bottom: 12px;
    width: 100%;
}

#employee-code{
    width: 146px;
    margin-right: 6px;
}
#fullname{
    width: 237px;
}
#birthday{
    width: 162px;
    margin-right: 12px;
}
#birthday .date-edit{
    width: 100%;
}
#gender .input{
    height: 32px;
    margin-top: 11px;
    box-sizing: border-box;
}
#unit .combobox-container{
    margin-top: 6px;
    width: 394px;
    margin-bottom: 10px;
}
#identity-number{
    width: 245px;
}
#identity-date{
    width: 163.5px;
    margin-left: 6px;
}
#identity-date .date-edit{
    width: 100%;
}
#position{
    width: 393px;
}
#identity-place{
    width: 418px;
}
#address{
    width: 836px;
}

#mobile-number, #phone-number, #email,
#bank-account, #bank-name, #bank-branch{
    width: 200px;
    margin-right: 6px;
}