.popup-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 14;
}

.popup-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 3px;
    padding: 32px;
    width: 444px;
    min-height: 190px;
    box-sizing: border-box;
}

.popup-header {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 24px;

}

.popup-body {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: start;
}

.popup-footer {
    height: 36px;
    width: 100%;
    border-top: 1px solid #bababa;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
}

.popup-button {
    box-sizing: border-box;
}

.button-cancel {
    margin-right: 16px;
}

.button-cancel:hover {
    background-color: #e5e5e5 !important;
}

.button-ok.error {
    background-color: #f65454 !important;
}

.button-ok.error:hover {
    background-color: #f84242 !important;
}

.cancel-button, .no-button{
    background: transparent;
    border: 1px solid #bababa;
    color: #000;
}
.cancel-button{
    position: absolute;
    left: 32px;
}
.yes-button{
    position: absolute;
    right: 32px;
}
.no-button{
    position: absolute;
    right: 94px;
}


.msg-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #f4f4f4;
    flex-shrink: 0;
    background-size: contain;
    background-position: center;
    visibility: hidden;
}

.msg-icon.warning {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -592px -460px;
    visibility: visible;
}

.msg-icon.error {
    background-image: url('../../content/icon/error.png');
    visibility: visible;
}

.msg-content {
    max-height: 100px;
    overflow-y: auto;
    text-align: left;
    line-height: 15px;
    transform: translate(0, -10px);
    margin-right: 24px;
    margin-top: 12px;
    margin-left: 16px;
}

.popup-container.open {
    animation: open 0.5s forwards;
}

.popup-container.close {
    animation: close 0.5s forwards;
}

