<div id="popup">
    <div class="popup-wrapper">
        <div class="popup-container">
            <div class="popup-body">
                <div class="msg-icon warning"></div>
                <div class="msg-content">
                    <p><span v-html="content">content</span></p>
                </div>
            </div>
            <div class="popup-footer">
                <div class="button popup-button button-ok">Đóng</div>
                <!-- <div class="button popup-button cancel-button">Hủy</div>
                <div class="button popup-button no-button">Không</div>
                <div class="button popup-button yes-button">Có</div> -->
            </div>
        </div>
    </div>
</div>