.button {
    height: 36px;
    width: fit-content;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(44,160,28);
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.button-icon {    
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;    
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    filter: brightness(0.8);
}

.button-save{
    margin-left: 16px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.button-cancel{
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
}
.button-cancel:hover{
    background-color: #fff;
}
.button-cancel:active{
    background-color: #ccc;
}

.button-delete{
    background-color: tomato;
    font-weight: bold;
}

.button.button-delete{
    animation: appear 0.2s ease-in;
}
.button.button-delete.hidden{    
    animation: hideBtn 0.2s ease-in;
    visibility: hidden;
    transition: visibility;
    transition-duration: 0.2s;
}

@keyframes hideBtn{
    0%{
        visibility: hidden;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translate(-30px, 0);
    }
    100%{
        opacity: 1;
    }
}

@keyframes disappear {
    0%{
        visibility: visible;
        opacity: 1;
    }
    70%{
        visibility: visible;
        opacity: 1;
        transform: translate(5px, -15px) scale(0.9);
    }
    100%{
        visibility: hidden;
        opacity: 0;
        transform: translate(-50px, -15px) scale(0.9);
    }
}