.checkbox-container {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    display: inline-block;
}

.checkbox-container input {
    display: none;
}

.checkbox-container .checkmark {
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    background-color: #fff;
    box-sizing: border-box;
    transform: translate(0, 3px);
}

.checkbox-container:hover input~.checkmark {
    background-image: url('../../assets/img/Sprites.64af8f61.svg');
    background-position: -898px -313px;
    background-repeat: no-repeat;
    background-color: #fff;
}

.checkmark>.check {
    color: white;
    font-size: 12px;
    margin: 2px;
}

.checkbox-container input:checked~.checkmark {
    border-color: rgb(44, 160, 28);
    background-image: url('../../assets/img/Sprites.64af8f61.svg');
    background-position: -898px -313px;
    background-repeat: no-repeat;
    background-color: #fff;
    animation: checkboxRotate 0.2s linear;
}

@keyframes checkboxRotate {
    0% {
        transform: rotate(0deg) translate(0, 3px);
    }

    50% {
        transform: rotate(30deg) translate(0, 3px);
    }

    100% {
        transform: rotate(0deg) translate(0, 3px);
    }
}