/* Page navigator */

.content-page-navigator {
    position: fixed;
    bottom: 6px;
    right: 26px;
    height: 56px;
    /* border-top: 4px solid #E9EBEE; */
    width: calc(100% - var(--menu-width) - 46px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 5;
    user-select: none;
}

.collapse .content-page-navigator{
    width: calc(100% - var(--menu-collapse-width) - 46px);
}

.content-page-navigator>* {
    flex: 1 100%;
}

.content-page-navigator>.navigator-left {
    padding-right: 16px;
    position: absolute;
    left: 16px;
}

.content-page-navigator>.navigator-center {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 8px;
}

.content-page-navigator>.navigator-right {
    position: absolute;
    display: flex;
    align-items: center;
    right: 16px;
}

.button-page-number {
    height: 21px;
    min-width: 21px;
    width: fit-content;
    color: #111111;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;
    flex-shrink: 0;
    box-sizing: border-box;
}

.button-page-number:hover {
    font-weight: bold;
}

/* Navigator button */

.button-navigator {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.button-navigator:hover {
    font-weight: bold;
}

.button-next-page {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}

.button-prev-page {
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
    margin-left: 16px;
}

.page-buttons {
    max-width: 460px;
}

.button-current-page {
    border-color: #e0e0e0;
    background-color: #fff;
    font-weight: 900;
}

/* Number of rows dropdown box */

.drop-number-of-row {
    display: flex;
    flex-direction: column-reverse;
}

.drop-number-of-row .combobox {
    height: 32px;
    width: 200px;
}
.drop-number-of-row .combobox input{
    padding-right: 10px;
}

.drop-number-of-row .dropdown-data {
    transform: translate(0, -35px);
    width: 198px;
    box-sizing: border-box;
}
